<hr />
<div class="container">
  <h3>Add todos</h3>
  <form (ngSubmit)="onSubmit()" class="mb-3">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        [(ngModel)]="title"
        type="text"
        class="form-control"
        id="title"
        name="title"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input
        [(ngModel)]="desc"
        type="text"
        class="form-control"
        id="desc"
        name="desc"
      />
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Add Todo</button>
  </form>
  <hr />
</div>
